@import url('https://fonts.googleapis.com/css?family=Yantramanav');

$yantramanav: 'Yantramanav', sans-serif; 

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    display: inherit;
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    display: none;
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.docked-widget {
  position: fixed;
  bottom: 0px;
  right: 10px;
  font-family: $yantramanav;
  width: 200px;
  z-index: 9999;
}

.dock {
  cursor: pointer;
  display: flex;
  font-family: $yantramanav;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 180px;
  color: white;
  border: 1px solid grey;
  background:#1F80C3;
}

.widget {
  width: 200px;
  border: 1px solid grey;
  border-bottom: none;
  font-family: $yantramanav;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

  &-entering {
    animation-name: slideInUp;
  }
  &-entered {
    display: inherit;
    visibility: visible;
  }
  &-exiting {
    animation-name: slideOutDown;
  }
  &-exited {
    display: none;
    visibility: hidden;
  }

  &-header {
    height: 30px;
    line-height: 30px;
    background: #394953;
    color:white;
    padding-left: 10px;
    display: flex;
    align-items: stretch;

    &-title {
      display: flex;
      flex-grow: 1;
    }

    &-icon {
      cursor: pointer;
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      padding: .75rem;
    }
  }
  &-body {
    background: #1F80C3;
    padding: 10px;
    height: 100px;
    background-color: #1f80c3;
   
    .ticker-amount {
      color:white;
    }

    .down-arrow {
      position: absolute;
      right: 0px;
      top: 65px;
    }

    .up-arrow {
      position: absolute;
      right: 0px;
      top: 65px;
    }
  }
  &-footer {
    background: #777777;
    line-height: 30px;
    color: white;
    padding-left: 10px;
    
    
  }
}
